*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #efefef;
}

.visually-hidden {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20rem;
  font-size: 1.5em;
  margin: 5rem auto;
  font-weight: bold;
  box-shadow: 0px 0px 20px #888;
}
